*.log
.env

# -------------------------------
# FRONTEND (Next.js / TypeScript)
# -------------------------------
frontend/.next/
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.DS_Store

# IDEs / Sistemas
.vscode/
.idea/
*.swp

*.pid
*.tar
